@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.hide {
  display: none;
}

body {
  background-color: black;
  font-family: "JetBrains Mono", serif;
  color: white;
  padding-top: 50px;
}

header {
  padding: 15px;
}

h1 {
  text-align: center;
  font-size: 1.7rem;
  color: #817d92;
}

main {
  width: 100%;
  height: 90vh;
}

.main__div {
  height: 90vh;
  width: 100%;
  padding: 20px;
}

.first-div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.first-div input {
  background-color: #1c1c1c;
  border: none;
  font-size: 1.2rem;
  display: inline-block;
  width: 60%;
  color: white;
}

.second-div {
  width: 100%;
  height: 70%;
}

.first-div,
.second-div {
  background-color: #1c1c1c;
  padding: 20px;
}

ul li {
  list-style: none;
}

.char-length-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.char-length-label span:first-of-type {
  font-size: 1rem;
}

.list-container {
  height: 45%;
  width: 100%;
  margin-bottom: 20px;
}

ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.strength-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 15%;
  padding: 5px 10px;
}

.strength-wrapper {
  width: 45%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strength-text {
  color: #817d92;
}

#strength-name {
  width: 50%;
  text-align: right;
}

.strength-status-container {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 100%;
}

.strength-status {
  height: 100%;
  width: 21%;
}

button {
  background-color: #a4ffaf;
  margin-top: 20px;
  width: 100%;
  height: 12%;
  border: none;
  font-weight: 600;
}

button:hover img,
button:focus img {
  filter: invert(75%) sepia(80%) saturate(500%) hue-rotate(80deg)
    brightness(120%) contrast(100%);
}

button:hover,
button:focus {
  background-color: #1c1c1c;
  border: 5px solid #a4ffaf;
  color: #a4ffaf;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0px;
}

.second-div input {
  accent-color: #a4ffaf;
}

.list-container input {
  width: 15px;
  height: 15px;
}

/* STYLING FOR TABLET SCREENS */
@media screen and (min-width: 450px) {
  .main__div {
    width: 540px;
    height: 695px;
    margin-inline: auto;
  }
}
